.hero {
  width: 100%;
  background: url(../../../public/images/hero.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-bottom: 3px solid #e62b1e;
}
.text {
  text-align: center;
}
.text img {
  width: 100%;
}
.theme-text {
  font-size: 40px;
}
.theme-text > sup {
  right: 15px;
}
.years {
  text-decoration: none;
}
.years:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .hero {
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
  }
  .theme-text {
    font-size: 30px;
  }
  .theme-text > sup {
    right: 10px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    height: 300px;
  }
  .theme-text {
    font-size: 20px;
  }
  .theme-text > sup {
    right: 7px;
  }
}
