.hero {
  width: 100%;
  background: url(../../../public/images/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.text {
  text-align: center;
}
.text img {
  width: 100%;
}
.years {
  text-decoration: none;
}
.years:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .hero {
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    height: 300px;
  }
}
