.bg-img {
  display: none;
  width: 100%;
  /* filter: blur(4px); */
}
.bg-img img {
  width: 100%;
}
.hero {
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: baseline;
  align-items: center;
}
.video-container {
  /* position: absolute; */
  top: 0;
  background: url("../../../public/images/hero-bg.webp") no-repeat;
  background-size: cover;
  background-position-y: calc(110%);
}
.video-container {
  margin-top: -100px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: inherit;
}
#vid {
  opacity: 0.5;
  width: 100%;
  height: auto;
  overflow: hidden;
  vertical-align: middle;
  align-self: center;
  z-index: 10;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.wings {
  position: absolute;
  width: 100%;
  top: -10rem;
  left: 0rem;
}
.wings img {
  width: 90%;
  filter: saturate(1.8);
  animation: animate 10s linear;
  z-index: 0;
}
.years {
  text-decoration: none;
}
.years:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .video-container {
    margin-top: 0px;
    display: none;
  }
  .bg-img {
    display: block;
  }
  .reverse {
    flex-direction: row-reverse;
  }
}
