.nav{
    background-color: black !important;
    height:auto;
    width: 100% !important;
}

.button{
    color:white !important;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    outline: none;
    padding-right: 0px;
    padding-left: 15px;
}

.button:hover{
    color:#e62b1e !important;
}

.button:focus{
   box-shadow: none !important;
}

.logo{
    height:4.5rem;
}

.d-flex{
    margin-right:5rem;
}