.nav{
   background-color: #121212;
    height:auto;
    width: 100% !important;
    position: sticky !important;
    top: 0;
    z-index: 1001 ;
}
.nav-div{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.menu-only{
    display: flex;
    align-items: center;
}
.button{
    color:white !important;
    font-family: 'Inconsolata', monospace !important;
    font-size: 1rem !important;
    outline: none;
    padding-right: 0px !important;
    padding-left: 15px !important;
}

.button:hover{
    color:#e62b1e !important;
}

.button:focus{
   box-shadow: none !important;
}

.logo{
    height:3.8rem;
    margin: 10px 0;
}

.menu-drawer{
    display: none;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .menu-drawer {
        display: flex;
    }
    .menu-only{
        display: none;
    }
    .logo{
        height: 3rem;
        margin: 7px 0;
    }
}